/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Fira Sans Condensed', sans-serif; */
    font-family: 'Quattrocento Sans', sans-serif !important;
}

html, body {
    font-family: 'Quattrocento Sans', sans-serif !important;  
  }
  
#__nuxt {
    font-family: 'Quattrocento Sans', sans-serif !important;  
}

.App,
.page-wrapper {
    overflow: auto;
    font-family: 'Quattrocento Sans', sans-serif !important;
}



.banner{
    background-image: url(../images/banner.png);
    padding-top: 135px;
    background-position: center;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
}

.position-center{
    display:grid;
    place-items: center;
    height: 100%;
}

.banner .banner-row{
    width: 100%;
}

.banner .banner-image{
    width:100%;
}

.banner .banner-content{
    position: relative;
    width: 100%;
    text-align: center;
}

.banner .banner-content h1{
    font-style: italic;
    font-size:43px;
    margin-bottom: 15px;
}

.banner .banner-content h1 span{
    color: #ff0000;
    font-style: normal;
}

.banner .banner-content h5{
    text-align:center;
    line-height:1.5;
    margin-bottom: 50px;
    font-size: 22px;
}

.banner .banner-content .banner-content-row{
    justify-content:center;
    align-items: center;
}

.banner .banner-content .banner-content-row .banner-content-col{
    width:35%;
    text-align: center;
}

.banner .banner-content .banner-content-row .banner-content-col p{
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

.banner .banner-content .banner-content-row .banner-content-col div{
    text-align:center;
    font-size:40px;
}

.banner .banner-content .banner-content-row .banner-content-col div .fa-arrow-down{
    color:#ff0000;
}

.banner .banner-content .banner-content-row .banner-content-col div .fa-arrow-right{
    color:#02b8f4;
}

.banner .card-image-div{
    width: 100%;
    position: relative;
}

.card-image{
    width: 300px;
    position: absolute;
    bottom: -90px;
    right: 0;
}


.service{
    width: 100%;
    padding:50px 0;
}

.service h1{
margin-bottom: 20px;
}

.service h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.service h1 .blue{
    color: #02b8f4;
}

.service p{
    font-size: 23px;
}

.service .service-row{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.service .service-row .service-col{
    width:33%;
    margin-bottom: 40px;
    
}

.service .service-row .service-col div{
    background-color:#f1f1f1;
    padding:20px 15px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.service .service-row .service-col p{
    font-size: 18px;
}

.service .service-row .service-col img{
    width: 17%;
    margin-bottom: 15px;
}

.bg-holder{
    width: 100%;
}

.bg-holder img{
    width: 100%;
}

.connect{
    width: 100%;
    padding:50px 0;
}

.connect h1{
margin-bottom: 20px;
text-align: center;
}

.connect h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.connect h1 .blue{
    color: #02b8f4;
}

.connect p{
    font-size: 20px;
    text-align: center;
}

.connect .connect-row{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.connect .connect-row .connect-col{
    width:40%;
    margin-bottom: 40px;
}

.connect .connect-row .connect-col div{
    background-color:#fff;
    border: 3px solid #b4ecffbf;
    border-radius: 10px;
}

.connect .connect-row .connect-col div h4{
    background-color: #b4ecffbf;
    color: #000;
    text-align: center;
    padding:10px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.connect .connect-row .connect-col div p{
    padding:10px 20px;
    font-size: 17px;
    text-align:justify;
}

.connect .connect-row .connect-col div a{
    padding: 0px 20px;
    font-size: 17px;
    text-align: left;
    color: #ff0000;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.contact{
    width: 100%;
    padding:50px 0;
    background-color: #b4ecffbf;
}

.contact h1{
    margin-bottom: 20px;
    text-align: center;
}

.contact h1 .red{
    color: #ff0000;
}

.contact .contact-row{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact .contact-row .contact-col{
    width:70%;
    margin-bottom: 40px;
    background:#fff;
    padding:40px 40px;
    border-radius: 5px;
    box-shadow: 8px 10px 9px 3px #818181;
}

.contact .contact-row .contact-col label{
    display: block;
    font-weight: bold;
    margin-bottom:15px;
    letter-spacing: 2px;
    color: #000 !important;
}

.contact .contact-row .contact-col label .red{
    color:#ff0000;
}

.contact .contact-row .contact-col input{
    width: 100%;
    margin-bottom:15px;
    border:1px solid #ccc;
    padding:15px 10px;
    border-radius: 5px;
}

.contact .contact-row .contact-col textarea{
    width: 100%;
    padding:15px 10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius: 5px;
}

.contact .contact-row .contact-col button{
    background-color: #02b8f4;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px solid #02b8f4;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.info{
    width: 100%;
    padding:50px 0;
}

.info h1{
margin-bottom: 35px;
text-align: center;
line-height: 1.3;
}

.info h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.info h1 .blue{
    color: #02b8f4;
}

.info a{
    text-align: center;
    text-decoration:none;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding:10px 20px;
    transition: all 0.3s ease-in-out;
}



.about{
    width: 100%;
    padding:50px 0;
}

.about h1{
margin-bottom: 35px;
text-align: center;
line-height: 1.3;
}

.about h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.about h1 .blue{
    color: #02b8f4;
}

.about p{
    /* margin-bottom: 35px; */
    text-align: center;
    line-height: 1.5;
    padding: 0 100px;
    font-size: 24px;
}

.call-to-action{
    width: 100%;
    padding:50px 0;
}

.call-to-action .call-to-action-row{
    justify-content: space-between;
    align-items:center;
}

.call-to-action .call-to-action-row .call-to-action-col .row{
    justify-content: center;
    align-items:center;
}

.call-to-action .call-to-action-row .call-to-action-col .row .icon, .call-to-action .call-to-action-row .call-to-action-col .row p, .call-to-action .call-to-action-row .call-to-action-col .row h4{
    display: inline;
    width:auto;
    margin-bottom: 0;
    font-weight: bold;
}

.call-to-action .call-to-action-row .call-to-action-col .row .icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#0b9e23;
    color:#fff;
    display: grid;
    place-items: center;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.call-to-action .call-to-action-row .call-to-action-col .row .icon:hover{
    box-shadow: 3px 2px 8px 3px #818181;
    cursor: pointer;
}

.call-to-action .call-to-action-row .call-to-action-col .row p{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
}

.call-to-action .call-to-action-row .call-to-action-col .row h4{
    color: #fff !important;
    text-shadow: 2px 0 0 #02b8f4, -2px 0 0 #02b8f4, 0 2px 0 #02b8f4, 0 -2px 0 #02b8f4, 1px 1px #02b8f4, -1px -1px 0 #02b8f4, 1px -1px 0 #02b8f4, -1px 1px 0 #02b8f4;
    letter-spacing: 3px;
    font-size: 36px;
}


.testimonial{
    width: 100%;
    padding:50px 0;
    position: relative;
}

.testimonial h1{
margin-bottom: 50px;
}

.testimonial h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.testimonial h1 .blue{
    color: #02b8f4;
}

.testimonial .slider-div-row{
    align-items: center;
}

.testimonial .slider-div-row .slider-div-quote{
    padding-right: 35px;
}

.testimonial .slider-div-quote .icon{
    background-color: #ff0000;
    color: #fff;
    width:50px;
    height:50px;
    border-radius:50%;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
}

.testimonial .slider-div-quote h4{
    font-weight:bold;
}

.testimonial .slider-div-quote p{
    padding-right: 30px;
}

.testimonial .slider-div-quote .customer h5{
    font-weight:bold;
    font-style: italic;
    margin-bottom: 0;
}

.testimonial .slider-div-quote .customer p{
    font-style: italic;
}

.testimonial .slider-div-image{
    position: relative;
    display: grid;
    place-items: center;
    height: 300px;
}

.testimonial .slider-div-image .main-img{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 3;
}

.testimonial .slider-div-image .slider-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 2;
}

.testimonial .slider-div-image .slider-image-overlay img{
    width: 65%;
}

.testimonial .slider-div-box{
    position: relative;
}

.testimonial .slider-div-box .slick-prev,
.testimonial .slider-div-box .slick-next {
	position: absolute;
	z-index: 10;
	background: transparent !important;
	color: #02b8f4;
	font-weight: bold !important;
	outline: none !important;
	border: none !important;
	font-size: 35px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.testimonial .slider-div-box .slick-prev {
	left: 10px;
	bottom: 50%;
}

.testimonial .slider-div-box .slick-next {
	right: 10px;
	bottom: 50%;
}


.banner--2{
    width: 100%;
    padding:50px 0;
    padding-top: 20px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.banner--2 .banner--2-row{
    justify-content:center;
    /* align-items:center; */
    --bs-gutter-x: 0;
}

.banner--2 .banner--2-row .banner--2-col img{
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.banner--2 .banner--2-row .banner--2--outer-col{
    position: relative;
}

.banner--2 .banner--2-row .banner--2--outer-col  .banner--2--innercol{
    background-color: #b4ecfffa;
    width:calc(100% + 200px);
    z-index: 2;
    min-height: 400px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding:100px 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}   

.banner--2 .banner--2-row .banner--2--outer-col  .banner--2--innercol h1{
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}

.banner--2 .banner--2-row .banner--2--outer-col  .banner--2--innercol h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.banner--2 .banner--2-row .banner--2--outer-col  .banner--2--innercol h1 .blue{
    color: #02b8f4;
}

.banner--3{
    width: 100%;
    padding:50px 0;
    padding-top: 20px;
}

.banner--3 .banner--3-row{
    justify-content:center;
    /* align-items:center; */
    --bs-gutter-x: 0;
}

.banner--3 .banner--3-row .banner--3-col{
    position: relative;
    background:#c7f1fffa;
}

.banner--3 .banner--3-row .banner--3-col .img-div img {
    width: 100%;
}

.banner--3 .banner--3-row .banner--3-col .button-div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    padding: 20px;
}

.banner--3 .banner--3-row .banner--3-col .button-div a{
    text-decoration: none;
    width: 150px;
    height: 150px;
    border-radius:50%;
    text-align: center;
    background-color: #02b8f4;
    color:#fff;
    border:1px solid #fff;
    display: grid;
    place-items: center;
    line-height: 0.7;
    transition: all 0.3s ease-in-out;
}

.banner--3 .banner--3-row .banner--3-col .button-div a span {
    line-height: 1.2;
}

.banner--3 .banner--3-row .banner--3-col .banner--3-inner{
    padding:30px;
    padding-right: 280px;
    padding-bottom: 0px;
    position: relative;
    text-align: justify;
}

.banner--3 .banner--3-row .banner--3-col .banner--3-inner p{
    font-weight: bold;
    font-size: 25px;
    color: #000 !important;
}

.banner--3 .banner--3-row .banner--3-col .heading{
    position: relative;
    width: 100%;
}


.banner--3 .banner--3-row .banner--3-col .heading h1{
    text-align: left;
    font-weight: bold;
    font-size: 71px;
    position: absolute;
    top: 0;
    right: -160px;
    line-height: 1;
    z-index: 3;
    display: grid;
    place-content: center;
    place-items: center;
}

.banner--3 .banner--3-row .banner--3-col .heading h1 span{
    background: #c7f1fffa;
    /* padding-right: 5px; */
    min-width: 345px;
}

.banner--3 .banner--3-row .banner--3-col .heading h1 .underline{
    border-bottom: 3px solid #ff0000;
}

.banner--3 .banner--3-row .banner--3-col .heading h1 .blue{
    color: #02b8f4;
    font-size: 111px;
    /* margin-left: 3px; */
    text-align: right;
}

.banner--3 .banner--3-row .banner--3-col .banner--3-inner-row{
    position: relative;
}

.banner--3 .banner--3-row .banner--3-col .banner--3-inner-row .col-red{
    position: absolute;
    bottom: 16px;
    right: 0;
    height: 70px;
    background-color: #ff0000;
}
.banner--3 .banner--3-row .banner--3-col .banner--3-inner-row .col-black{
    position: absolute;
    bottom: 125px;
    right: -225px;
    height: 2px;
    background-color: #000;
    width: 650px;
    z-index: 2;
}




.service .service-row .service-col div:hover{
    box-shadow: 1px 1px 1px 1px  #ff0000;
}

.connect .connect-row .connect-col div a:hover{color:#02b8f4;}

.banner--3 .banner--3-row .banner--3-col .button-div a:hover{background:#ff0000;}

.testimonial .slider-div-box .slick-prev:hover, .testimonial .slider-div-box .slick-next:hover{
    color: #ff0000;
}

.contact .contact-row .contact-col button:hover{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.info a:hover{
    background-color: #fff;
    color: #ff0000;
    border:1px solid #ff0000;
}

.regular {
    position: relative;
}


svg {
    display: inline-block;
    height: 1em;
}
